
venv
.vscode
.metals
__pycache__
scala_app/.metals
scala_app/main.class
scala_app/main$.class
scala_app/main$Numeros.class
scala_app/main$Numeros$$anonfun$1.class
scala_app/main$Numeros$$anonfun$mostrar$1.class
scala_app/Numeros$$anonfun$1.class
scala_app/Numeros.class
scala_app/Numeros.class
scala_app/Numeros$$anonfun$extract$1.class
scala_app/Numeros$$anonfun$mostrar$1.class
.~lock.reporte.odt#
reporte.odt
sqltools_20210813012832_178752.log